@font-face {
  font-family: "Pt Sans";
  src: url("../fonts/web/ptsans.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pt Sans";
  src: url("../fonts/web/ptsansbold.woff2");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
}
h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}
p {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;
}
a {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
a:hover {
  color: #81b3d2;
}
a:active {
  color: rgba(0, 0, 0, 0.3);
}
body {
  margin: 0px;
  background-color: #f2f2f2;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
.wrapper::after {
  content: "";
  display: table;
  clear: both;
}
.logo {
  position: absolute;
  top: 0;
  width: 138px;
  margin-left: 531px;
  z-index: 10;
}
.intro {
  position: relative;
  overflow: hidden;
  width: 1200px;
  height: 508px;
  padding-bottom: 62px;
}
.header-bg {
  position: absolute;
  top: -55px;
}
.welcome {
  position: absolute;
  left: 506px;
  top: 76px;
}
.gorgeous {
  position: absolute;
  top: 132px;
  left: 512px;
}
.line {
  position: absolute;
  top: 144px;
  left: 472px;
}
.header-title {
  position: absolute;
  top: 214px;
  left: 371px;
}
.because {
  position: absolute;
  top: 348px;
  left: 452px;
}
.shape {
  position: absolute;
  bottom: 0;
  left: 0;
}
.feauters h2 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 33px;
  padding-top: 62px;
}
.feauters p {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
.feauter-descr {
  background-color: #81b3d2;
  color: #fff;
  margin: 0;
  padding: 0;
}
.feauter-descr::after {
  content: "";
  display: table;
  clear: both;
}
.feauter-text {
  float: left;
  width: 400px;
}
.feauter-text-right {
  float: right;
  width: 400px;
}
.feauter-text h2 {
  line-height: 21px;
  padding-top: 50px;
  margin-bottom: 25px;
}
.feauter-text p {
  line-height: 21px;
  margin-bottom: 20px;
}
.feauter-img {
  float: right;
  width: 800px;
  height: 256px;
}
.feauter-icons::after {
  content: "";
  display: table;
  clear: both;
}
.feauter-icons section {
  float: left;
  width: 400px;
  position: relative;
}
.home span {
  text-indent: -9000px;
  position: absolute;
  display: block;
  top: 60px;
  left: 162px;
  width: 75px;
  height: 76px;
  background: url("../img/sprites.png") no-repeat;
  background-position: 0 -10px;
}
.food span {
  text-indent: -9000px;
  position: absolute;
  display: block;
  top: 60px;
  left: 162px;
  width: 76px;
  height: 75px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -100px -10px;
}
.souvenir span {
  text-indent: -9000px;
  position: absolute;
  display: block;
  top: 60px;
  left: 162px;
  width: 75px;
  height: 76px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -195px -7px;
}
h2.feauter-icons__title {
  padding-top: 160px;
}
.feauter-items {
  background: #eee;
}
.feauter-items::after {
  content: "";
  display: table;
  clear: both;
}
.feauter-item {
  float: left;
  width: 400px;
  padding-bottom: 37px;
}
.feauter-item h2 {
  padding-top: 50px;
  margin-bottom: 25px;
}
.feauter-item p {
  margin-bottom: 25px;
}
.search {
  width: 568px;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.search-title {
  display: block;
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 30px;
}
.search p {
  line-height: 24px;
  margin-bottom: 52px;
}
.search-form__title {
  display: block;
  background: #766357;
  color: #fff;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding: 30px 138px;
}
.main-nav {
  position: relative;
  width: 1056px;
  margin: 0 auto;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-nav__item {
  display: inline-block;
  width: 128px;
  margin-right: 112px;
  padding: 16px 0;
}
.main-nav__item:nth-child(2) {
  margin-right: 320px;
}
.main-nav__item:nth-child(3) {
  text-align: right;
}
.main-nav__item:last-child {
  margin-right: 0px;
  text-align: right;
}
.main-nav a {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
.main-nav a:hover {
  color: #81b3d2;
}
.main-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}
.main-nav span {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
.page-footer {
  text-align: center;
  font-weight: bold;
}
.page-footer .wrapper {
  padding: 50px 0;
}
.footer-hashtag {
  float: left;
  width: 400px;
}
.footer-social {
  float: left;
  width: 400px;
  font-size: 0px;
}
.footer-social span {
  position: relative;
  bottom: 15px;
  width: 46px;
  height: 48px;
  color: #fff;
  background-color: #81b3d2;
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}
.footer-social span:hover {
  background-color: #669ec0;
}
.footer-social span:active {
  color: #88b6d1;
  background-color: #5496bd;
}
.icon-twitter::before,
.icon-facebook::before,
.icon-youtube::before {
  position: absolute;
  top: 14px;
  left: 10px;
  font-size: 19px;
}
.footer-copyright {
  text-align: left;
  float: right;
  width: 400px;
}
.footer-copyright span {
  margin-left: 100px;
  position: relative;
  display: block;
}
.footer-copyright span::after {
  content: "";
  position: absolute;
  right: 100px;
  bottom: -8px;
  width: 113px;
  height: 39px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -300px -10px;
}
.footer-copyright span:hover::after {
  background: url("../img/sprites.png") no-repeat;
  background-position: -300px -60px;
}
.footer-copyright span:active::after {
  background: url("../img/sprites.png") no-repeat;
  background-position: -300px -10px;
  opacity: 0.3;
}
.modal-content {
  background-color: #fff;
  padding: 55px 55px;
  font-weight: bold;
}
.search-form label {
  display: block;
}
